@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f2;
  --foreground: #131313;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #f7f7f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), sans-serif;
}
